@font-face {
	font-family: Cousine;
	src: url(../font/Cousine-Regular.ttf);
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.toposmall {
	width: 100%;
	height: 12px;
	background-color: #057C3A;
	color: #FFF;
	text-align: center;
	font-size: 10px;
}

.topo {
	background-color: #32A041;
	width: 100%;
	height: 45px;
	position: sticky;
	top: 0;
	z-index: 3;
}

.topo h2 {
	color: #FFF;
	margin: 0;
	padding-top: 10px;
	text-align: center;
	width: 100%;
	font-family: Cousine;
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-thumb:horizontal {
	height: 0px;
}

::selection {
	background-color: #32A041;
	color: #FFF;
}

.task {
	width: 100%;
	margin: 0px;
	border-bottom: 1px solid #CCC;
}

.tasks .task-nome li {
	list-style: none;
	margin-left: -33px;
}

.tasks .task-nome li .remove-btn {
	text-decoration: none;
	color: #FF0000;
	position: absolute;
	right: 10px;
}

.tasks .task-nome li .edit-btn {
	text-decoration: none;
	color: #0000FF;
	position: absolute;
	right: 90px;
}

.addIcon {
	position: fixed;
	width: 40px;
	height: 40px;
	right: 10px;
	bottom: 10px;
	border-radius: 50%;
	background-color: #057C3A;
	box-shadow: 2px 2px 5px 2px #333;
	cursor: pointer;
}

.addIcon p {
	margin-top: 4px;
	color: #FFF;
	text-align: center;
	font-size: 30px;
}