@font-face {
	font-family: HankenGrotesk-Light;
	src: url(../font/HankenGrotesk-Light.otf);
}

@font-face {
	font-family: Crawley;
	src: url(../font/Crawley.ttf);
}

@font-face {
	font-family: Poppins;
	src: url(../font/Poppins-Regular.ttf);
}

@font-face {
	font-family: Oswald;
	src: url(../font/Oswald-Regular.ttf);
}

@font-face {
	font-family: Cousine;
	src: url(../font/Cousine-Regular.ttf);
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.container {
	transition: all 0.5s ease;
}

.toposmall {
	width: 100%;
	height: 12px;
	background-color: #057C3A;
	color: #FFF;
	text-align: center;
	font-size: 10px;
}

.toposmall-menu {
	font-family: Arial;
	width: 100%;
	height: 12px;
	background-color: #000;
	color: #FFF;
	text-align: center;
	font-size: 10px;
}

.topo {
	background-color: #32A041;
	width: 100%;
	height: 45px;
	position: sticky;
	top: 0;
	z-index: 3;
}

.topo img {
	margin-top: 5px;
	margin-left: 5px;
	width: 35px;
	float: left;
}

.topo img:hover {
	cursor: pointer;
}

.topo h2 {
	color: #FFF;
	margin: 0;
	padding-top: 10px;
	text-align: center;
	width: 100%;
	font-family: Cousine;
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-thumb:horizontal {
	height: 0px;
}

::selection {
	background-color: #32A041;
	color: #FFF;
}

.task {
	width: 100%;
	margin: 0px;
	border-bottom: 1px solid #CCC;
}

.tasks .task-nome li {
	list-style: none;
	margin-left: -33px;
}

.tasks .task-nome li a {
	text-decoration: none;
	color: #FF0000;
	position: absolute;
	right: 10px;
}

.input {
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0;
	background-color: #057C3A;
	z-index: 3;
}

.input input {
	margin-top: 17px;
	margin-left: 2%;
	padding: 5px;
	width: 68.5%;
	height: 20px;
	border: 2px solid #057C3A;
	outline: none;
	border-radius: 5px;
}

.input button {
	margin: 0;
	border-radius: 5px;
	background-color: #FFF;
	border: 2px solid #057C3A;
	padding: 7.5px;
	outline: none;
	cursor: pointer;
}

.addIcon {
	position: fixed;
	width: 40px;
	height: 40px;
	right: 10px;
	bottom: 10px;
	border-radius: 50%;
	background-color: #057C3A;
	box-shadow: 2px 2px 5px 2px #333;
	cursor: pointer;
}

.addIcon p {
	margin-top: 4px;
	color: #FFF;
	text-align: center;
	font-size: 30px;
}